<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if url == '/' %}{{site.title | fallback:title}}{% else %}{{title}} – {{site.title}}{% endif %}
  </title>
  {% if site.meta.description %}
  <meta name="description" content="{{site.meta.description}}">
  {% endif %}
  {% if site.meta.author %}
  <meta name="author" content="{{site.meta.author}}">
  {% endif %}
  <link rel="canonical" href="{{permalink}}">
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}">
  <link rel="stylesheet" type="text/css" href="/all.css">
</head>
