<!DOCTYPE html>
<html lang="en">
{% include 'includes/head' %}
<body>
  {% if type == 'post' %}
    type == post
  {% elsif type == 'page' %}
    type == page
  {% elsif type == 'archive' %}
    type == archive
  {% elsif type == 'taxonomy' %}
    type == taxonomy
  {% elsif type == 'tag' %}
    type == tag
  {% else %}
    type == none of the above
  {% endif %}

  {% include 'includes/page-header' %}

  {{content}}
  
  {% include 'includes/page-footer' %}
  {% include 'includes/scripts' %}
</body>
</html>
